<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
		<meta charset="UTF-8">
		<title></title>
	</head>
<style type="text/css">
	img{
		width: 100%;
	}
	.back{
		position: absolute;
    top: 1rem;
    left: 1rem;
	}
	.back img{
		width: 1.7rem;
	}
</style>
	<body>
		<div class="back">
		<a href="{:url('/index/member')}">	<img src="__INDEX__/img/back.png"/></a>
		</div>
		<img src="__INDEX__/img/bz1.jpg"/>
		<img src="__INDEX__/img/bz2.jpg"/>
		<img src="__INDEX__/img/bz3.jpg"/>
	</body>

</html>